body {
    background-color: royalblue;
  }
  #down1, #down2, #down3 {
      border: 4px double black;
      border-radius: 5px;
      color: yellow;
  }

    #HomePg, #Pg3 {
     border: 4px double black;
     border-radius: 5px;
     color: aqua;
    }
    
   #JavaRe {  
     border: 4px double black;
     border-radius: 5px;
     color: lawngreen;
} 
#JavaBack { 
    border: 4px double black;
    border-radius: 5px;
    color: rgba(165, 42, 42, 0.795);
}
